.rectangle {
    height: 840px;
    width: 960px;
    background-color: blue;
    border: 5px solid red;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.board {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}